<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book SHop | Books</title>
    <style>
    .btn-link {
      display: inline-block;
      padding: 10px 20px;
      font-size: 18px;
      background-color: #4CAF50;
      color: white;
      text-decoration: none;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .btn-link:hover {
      background-color: #45a049;
    }
  </style>
    <a href="/" class="btn-link"><h2>Home page</h2></a>
    <a href="/price/" class="btn-link">Book max price</a>
    <a href="/stock/" class="btn-link">Book max stock</a>
    <a href="/like/" class="btn-link">Author's books</a>
</head>
<body>
<h1>Books tables</h1>
<hr>
{% for book in books %}
<p>{{forloop.counter}}. <a href="/book/">{{book.title}} </a>  {{book.price}} so'm</p>
{% endfor %}
</body>
</html>