<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book SHop | Book</title>
    <style>
    .btn-link {
      display: inline-block;
      padding: 10px 20px;
      font-size: 18px;
      background-color: #4CAF50;
      color: white;
      text-decoration: none;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .btn-link:hover {
      background-color: #45a049;
    }
  </style>
    <a href="/customers/" class="btn-link"><h2>Customers page</h2></a>
</head>
<body>
<h1>Customer details</h1>
<hr>

<p> Sotuvchi ismi: {{customer.name}}
<hr>
    Sotuvchi emaili: {{customer.email}}
 </p>

</body>
</html>