<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kutubxona | Bosh sahifa</title>
    <style>
    .btn-link {
      display: inline-block;
      padding: 10px 20px;
      font-size: 18px;
      background-color: #4CAF50;
      color: white;
      text-decoration: none;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .btn-link:hover {
      background-color: #45a049;
    }
  </style>
</head>
<body>
<h1>Kutubxona Loyihasi</h1>
<hr>
<a href="/authors/" class="btn-link"><h2>Authors</h2></a>
<a href="/books/" class="btn-link"><h2>Books</h2></a>
<a href="/customers/" class="btn-link"><h2>Customer</h2></a>
<p>Qalesan bratishka😁</p>
</body>
</html>